
*{
    box-sizing: border-box;
padding: 5px;
margin: 5px;
}
body { 
    background-color: aqua;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
a {
    color:brown
}
img {
    max-width: 80%
}
address {
    font-style: normal;
}

.sub-nav {
    display: flex;
    flex-direction: column;
}

/* header {
margin: 1ream 1rem 0 1rem;
padding: 0.5rem 1rem;
bacground-color: white 
}

nav a {
text-transform:uppercase;
text-decoration: none;
}
.main-menu {
position: relative;
}
.menu-icon {
cursor

.form-input:focus {
outline: none
border: 2px solid 
}

{type="submit"} {
width: 100%
font-size: 1.Sem;
font-weight:700;
text-transform:uppercase;
border-radius:4px
border: 0
padding: .Sem
cursor: pointer;
}


@media screen and (min-width: 768px)
